<div class="container">

    <form action="/">
        <div class="d-flex justify-content-between align-items-center">
            {{!-- <select class="selectpicker" name="selectpicker" style="width:100%;"> --}}
                <div class="col-10">
                    <select class="form-control form-control-sm" name="category_bar" style=" width:100%;">
                        <option>類別</option>
                        {{#each categories}}
                        <option>{{ this }}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-secondary btn-sm  btn-block">搜尋</button>
        </div>
    </form>



    {{!-- <form action="/" method="GET">
        <div class="form-group ml-2 mb-5 col-sm-6 mr-auto ml-auto">
            <select class="form-control" id="sort-bar" name="categoryId">
                <option value="">全部</option>
                {{#each categories}}
                <option value="{{this._id}}" {{#if this.isSelected}}selected{{/if}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <button id="submit-button" type="submit" class="d-none">submit</button>
    </form> --}}


    <div class="d-flex justify-content-center m-3 align-items-center">
        <div>總金額：</div>
        <div class="total-amount">
            {{ totalAmount }}
        </div>
    </div>

    {{#each records}}
    <ul class="list-group list-group-flush w-100">
        {{!-- <li class="list-group-item" style="background-color:#F0F0F0;"> --}}
        <li class="list-group-item">
            <div class="row align-items-center h-100">
                <div class="col-12 col-md-1">
                    {{!-- <i class="fas fa-home fa-2x"></i> --}}
                    <i class="{{ this.icon }} fa-2x"></i>
                </div>
                <div class="col-12 col-md-6">
                    <div class="category">{{ this.name }}</div>
                    <div class="date">{{ this.date }}</div>
                </div>
                <div class="amount col-12 col-md-2 text-right">
                    {{ this.amount }}
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="row">
                    <a href="/records/{{ this.id }}/edit">
                        <button type="submit" class="btn btn-outline-success btn-sm m-1">修改</button>
                    </a>

                    <a href="/">
                        <button type="button" class="btn btn-outline-danger btn-sm m-1">刪除</button>
                    </a>
                </div>
            </div>

        </li>
        {{/each}}
    </ul>

    <div class="row justify-content-center mt-3">
        <a href="/records/new">
            <button type="submit" class="btn btn-warning btn-sm m-1 btn-block">新增支出</button>
        </a>
    </div>

</div>